{
  Triva = {
        fdgraph = { type = bool;
                    description = "Graph (Force-Directed)"; };
        graph   = { type = bool;
                    description = "Configurable Graph"; };
        treemap = { type = bool;
                    description = "Squarified Treemap"; };
        comparison = { type = bool;
                       description = "Compare Trace Files (Experimental)"; };
        linkview = { type = bool;
                     description = "Link View (Experimental)"; };
        stat = { type = bool;
                    description = "Trace Statistics and Memory Utilization"; };
        check = { type = bool;
                    description = "Check Trace File Integrity"; };
        hierarchy = { type = bool;
                    description = "Export Trace Type Hierarchy (dot)"; };
        list = { type = bool;
                    description = "Print Trace Type Hierarchy"; };
        instances = { type = bool;
                    description = "List All Trace Entities"; };
        server = { type = int;
                  description = "Wait commands on the specified port"; };
  };
}
