{
   ApplicationDescription = "Three Dimensional Interactive Visual Analysis";
   ApplicationIcon = "";
   ApplicationName = TRIVA;
   ApplicationRelease = 0.1;
   Authors = "Lucas Schnorr";
   Copyright = "Copyright (C) 2008 by Lucas Schnorr";
   CopyrightDescription = "Released under GPL";
   FullVersionID = 0.1;
   URL = "";
}
